<h1>Courses</h1>

<table>
    <thead>
        <tr>
            <th>Sl</th>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {{#result}}
        <tr>
            <td>{{this.courseFee}}</td>
            <td>{{courseFee}}</td>
            <td>{{courseDuration}}</td>
        </tr>
        {{/result}}
    </tbody>
</table>